<a href="https://colab.research.google.com/github/abhisekumar/pytest/blob/main/indianStockPlot_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
#!pip install yfinance
#!pip install matplotlib
#!pip install seaborn

In [39]:
import pandas as pd 
import datetime
import pandas_datareader.data as web
import numpy as np
#import requests
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn

In [42]:
from pandas import Series, DataFrame
start = datetime.datetime(2016,1,1)
end = datetime.datetime(2020, 12, 31)

In [44]:
stockCode =input("Ticker name? Ex: RELIANCE.NS , VEDL.NS")
#periodDay = input("Geaph Period in days, (Ex:10) ")

Ticker name? Ex: RELIANCE.NS , VEDL.NSRELIANCE.NS

In [33]:
#load the data 
#msft = yf.Ticker(stockCode)
#print(msft.info)
#hist = msft.history(period=periodDay+"d")

In [43]:
# Plot everything by leveraging the very powerful matplotlib package
#hist['Close'].plot(figsize=(20, 10))

In [45]:
df = web.DataReader(stockCode, 'yahoo',start,end)
df.tail()

                   High          Low  ...      Volume    Adj Close
Date                                  ...
2020-12-28  2018.000000  1995.300049  ...   7947719.0  2003.300049
2020-12-29  2012.300049  1982.550049  ...   8589407.0  1990.050049
2020-12-30  2007.199951  1975.550049  ...  10173132.0  1995.500000
2020-12-31  2011.900024  1978.599976  ...   8667516.0  1985.300049
2021-01-01  1997.000000  1982.000000  ...   4622002.0  1987.500000

[5 rows x 6 columns]